/*angular cloak*/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
/*angular cloak*/

body{
    font-family: 'Bree Serif', serif;
}

/*nav*/
nav{
    position: relative;
}

.items-number{
    font-size: 10px;
    color: white;
    background: orange;
    padding : 2px 4px;
    border-radius: 2px;

}
/*nav*/

/*menu*/
section.menu{
    position: relative;
    height: 50px;
}

section.menu > .container > .row > .logo{
    height: 50px;
    text-align: center;
    display: inline-block;
    line-height: 50px;
    font-weight: bold;
    font-size: 30px;
}

section.cart {
    height: 50px;
    padding-left: 15px;
    /*text-align: right;*/
}

section.cart i{
    color : black;
    font-size:30px;
    padding-left: 10px;
    line-height: 50px;
}



section.search {
    height: 50px;
    display: flex;
    align-items: center;
    padding:0;
}
.row{
    margin:0;
    padding:0;
}

section.search input{
    font-size: 16px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background: white url('../images/searchicon.png') no-repeat 8px 6px;
    padding: 5px 20px 5px 40px;
}

.cart > a:link,
.cart > a:visited {
    color: black;
}
.max-height{
    height:100%;
}
/*menu*/

/*album display*/

.album-display{
    margin-bottom: 20px;
}

.album-display img{
   width:100%;
}

/*album display*/

/*genres*/

.genres{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.genres > a{
    text-decoration: none;
}

.genre{
    color: black;
    height: 30px;
    border: solid 1px black;
    text-align: center;
    line-height: 30px;
    background-color: #c5c5c5;
    margin-bottom: 5px;
}
.selected{
    background: #ea6767;
}
/*genres*/

/*content*/
.content{
    padding: 15px;
}

.album-holder > section{
    margin-top: 5px;
}

.album-holder > section > span > img{
    width: 100%;
}

.album-holder > section > .info {
    background-color: black;
    width: 100%;
}

.album-holder > section > .info > .album-name{
    color: white;
    padding: 0 3px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow:hidden;
    text-transform: capitalize;
}

.album-holder > section > .info > .price{
    color : red;
    display: inline-block;
    font-size: 16px;
    padding-left: 3px;
}

.album-holder > section > .info > .icons{
    display: inline-block;
}

.album-holder > section > .info > .icons > i{
    color: white;
    font-size:20px;
    margin-right:5px;
    cursor: pointer;
}

.short-desc{
    color: #7d7a7a;
    padding: 1px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow:hidden;
}
/*content*/

/*Misc*/
.capitalize{
    text-transform: capitalize;
}

.bread-divider{
    margin: 0 3px 0 3px;
}

.margin-top-bot{
    margin: 10px 0;
}

.margin-bottom{
    margin-bottom : 15px !important;
}

.margin-right{
    margin-bottom : 15px !important;
}

.no-margin-bottom{
    margin-bottom : 0 ;
}

.background-grey{
    background-color : #eaeaea;
}

.border{
    border: 1px solid black;
}

.no-margin{
    margin-right: 0;
    margin-left: 0;
}

.no-padding{
    padding-right : 0;
    padding-left: 0;
}

.small-padding{
    padding-right: 5px;
    padding-left: 5px;
}

.loader{
    position: absolute;
    z-index: 99999;
    left: 43%;
    top: 40%;
}
/*Misc*/
