<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
    <link rel="stylesheet" href="stylesheet/css.css">
    <link rel="stylesheet" href="stylesheet/breadcrumb.css">
    <title>Music Store</title>
</head>
<body ng-app="app" class="ng-cloak">
    <div id="site-wrapper">
        <nav class="navbar navbar-inverse no-margin-bottom">
            <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">MUSIC</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div  class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class=""><a href="#/">Home</a></li>
                        <li class=""><a href="#/">My account</a></li>
                        <li class=""><a href="#/">My Wishlist</a></li>
                        <li class=""><a href="#/">Checkout</a></li>
                        <li ><a href="#/">Register</a></li>
                        <li ><a href="#/">Log In</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <section class="menu background-grey">
            <section class="container">
                <section class="row">
                    <section class="col-xs-9 search"><input type="text" placeholder="Search"></section>
                    <section class="col-xs-3 cart text-right row">
                        <!--<p class="welcome hidden-xs">Welcome to our online store!</p>-->
                            <a href="#/"><i class="fa cart_pos fa-shopping-cart" aria-hidden="true"></i></a>
                            <span class="items-number">12</span>
                    </section>
                </section>
            </section>
        </section>
        <section>
            <ng-view></ng-view>
        </section>
    </div>

    <!-- scripts -->
    <script src="https://use.fontawesome.com/eed3ca0162.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" charset="utf-8"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-route.js"></script>

    <script src="javascripts/app/app.config.js"></script>
    <script src="javascripts/app/services/albums.factory.js"></script>
    <script src="javascripts/app/services/albums.service.js"></script>
    <script src="javascripts/app/controllers/HomeController.js"></script>
    <script src="javascripts/app/controllers/AlbumController.js"></script>
    <script src="javascripts/app/directives/GenreDirective.js"></script>
    <script src="javascripts/app/directives/AlbumDisplayDirective.js"></script>
    <script src="javascripts/app/directives/BreadCrumbsDirective.js"></script>

</body>
</html>
