<section class="album-holder row">
    <section class="margin-bottom col-xs-6 col-md-3" data-ng-repeat="album in data">
        <span>
            <img data-ng-src="{{album.albumImages[0]}}" alt="">
        </span>
        <section class="info">
            <span class="album-name">{{album.name}}</span>
            <span class="short-desc" data-ng-if="showDesc">{{album.shortDescription}}</span>
            <span class="price">{{album.price}}</span>
            <section class="icons pull-right">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                <i class="fa fa-info-circle" aria-hidden="true"></i>
            </section>
        </section>
    </section>
</section>
