<section class="album-holder row">
    <section index="{{album._id}}" class="margin-bottom col-xs-12 col-sm-4 col-md-4 col-lg-3" data-ng-repeat="album in data">
        <span>
            <a data-ng-href="{{'#/' + album.genre + '/' + album.name}}">
                <img  data-ng-src="{{album.albumImages[0]}}" alt="">
            </a>
        </span>
        <section class="info clearfix">
            <span class="album-name">{{album.name}}</span>
            <span class="short-desc text-left" data-ng-if="showDesc">{{album.shortDesc}}</span>
            <span class="price pull-left">{{album.price}}</span>
            <section class="icons pull-right">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                <i class="fa fa-info-circle" aria-hidden="true"></i>
            </section>
        </section>
    </section>
</section>
