<section class="album-display no-margin row ">
    <section class="no-padding col-xs-12 col-md-12 col-lg-4">
        <img src="https://i.ytimg.com/vi/SFfrthBpqQA/maxresdefault.jpg">
    </section>
    <section class="no-padding col-xs-12 col-md-12 col-lg-8">
        <section class="no-padding col-xs-6 col-md-6 col-lg-3 "><img src="https://i.ytimg.com/vi/SFfrthBpqQA/maxresdefault.jpg"></section>
        <section class="no-padding col-xs-6 col-md-6 col-lg-3 "><img src="https://i.ytimg.com/vi/SFfrthBpqQA/maxresdefault.jpg"></section>
        <section class="no-padding col-xs-6 col-md-6 col-lg-3 "><img src="https://i.ytimg.com/vi/SFfrthBpqQA/maxresdefault.jpg"></section>
        <section class="no-padding col-xs-6 col-md-6 col-lg-3 "><img src="https://i.ytimg.com/vi/SFfrthBpqQA/maxresdefault.jpg"></section>
        <section class="no-padding col-xs-6 col-md-6 col-lg-3 "><img src="https://i.ytimg.com/vi/SFfrthBpqQA/maxresdefault.jpg"></section>
        <section class="no-padding col-xs-6 col-md-6 col-lg-3 "><img src="https://i.ytimg.com/vi/SFfrthBpqQA/maxresdefault.jpg"></section>
        <section class="no-padding col-xs-6 col-md-6 col-lg-3 "><img src="https://i.ytimg.com/vi/SFfrthBpqQA/maxresdefault.jpg"></section>
        <section class="no-padding col-xs-6 col-md-6 col-lg-3 "><img src="https://i.ytimg.com/vi/SFfrthBpqQA/maxresdefault.jpg"></section>
    </section>
</section>
<section class="container">
    <bread-crumbs-directive></bread-crumbs-directive>
</section>
<section class="content container">
    <section class="row">
        <genre-directive class="col-xs-12 col-md-3"></genre-directive>
        <album-display-directive class="col-xs-12 col-md-9"></album-display-directive>
    </section>
</section>
