<section class="album-display">
    <section class="newest-album col-xs-4"></section>
    <section class="new-albums col-xs-8">
        <section class="row">
            <section class="col-md-12">
                <section class="col-xs-3 displayed-album"></section>
                <section class="col-xs-3 displayed-album"></section>
                <section class="col-xs-3 displayed-album"></section>
                <section class="col-xs-3 displayed-album"></section>
                <div class="clear-fix"></div>
                <section class="col-xs-3 displayed-album"></section>
                <section class="col-xs-3 displayed-album"></section>
                <section class="col-xs-3 displayed-album"></section>
                <section class="col-xs-3 displayed-album"></section>
            </section>
        </section>
    </section>
</section>
<section class="container">
    <bread-crumbs-directive></bread-crumbs-directive>
</section>
<section class="content container">
    <genre-directive></genre-directive>
    <album-display-directive></album-display-directive>
</section>

